:root
{
    --uncblue: RGB(1,45,91);
    --uncgold: RGB(254,189,54);
    --uncgray: RGB(235,235,235);
    color: var(--uncblue);
    background-color:var(--uncgray);
    text-align: center;
}

.title
{
    color: var(--uncgold);
}

h1
{
    font-size: 52pt;
    text-decoration: underline; bold;
}

img
{
    margin: auto;
    display: block;
}

table
{
    margin: auto;
}
