:root
{
    --dark-grey: RGB(50, 50, 50);
    --black: RGB(34, 34, 34);
    --gray: RGB(235,235,235);
    color: var(--mustard);
    background-color:var(--gray);
    text-align: center;
}

header
{
    display: flex; 
    align-items: center;
}

title
{
    color: var(--black);
}

body
{
    background-color: var(--gray);
    font-family: Arial, sans-serif;
    color: var(--dark-gray);

h1
{
    font-size: 52pt;
    font-weight: bold;
    text-decoration: underline; 
}

h2 
{
    font-size: 28pt;
    color: var(--dark-gray);
    margin-top: 20px;
}

p
{
    color: #333;
    line-height: 1.5;
}

img
{
    margin: auto;
    border-radius: 10px;
    filter: brightness(0.9);
}

table
{
    border-collapse: collapse;
    width: 85%;
}

a
{
    color: dark-gray;
}
