:root
{
    --dark-grey: RGB(50, 50, 50);
    --black: RGB(34, 34, 34);
    --gray: RGB(235,235,235);
    color: var(--mustard);
    background-color:var(--gray);
    text-align: center;
}

.title
{
    color: var(--black);
}

h1
{
    font-size: 52pt;
    text-decoration: underline; bold;
}

img
{
    margin: auto;
    display: block;
}

table
{
    margin: auto;
}
