nav 
{
    background-color: #f4f4f4;
    padding: 8px;
    border-bottom: 2px solid #ccc;
}

h1 
{
    font-family: 'Arial, sans-serif';
    font-size: 2em;
    text-align: center;
    margin-bottom: 10px;
}

section.box
{
    padding: 20px;
    margin: 20px auto;
    border: 2px;
    border-radius: 8px;
    max-width: 800px;
    text-align: center;
}

section img
{
    width: 720px;
    height: auto;
    border-radius: 8px;
    margin: 0 auto 20px;
    display: block;
}

a 
{
    color: #0066cc;
    text-decoration: underline;
}

.date strong 
{
    color: var(--UNC-Gold);
    white-space: nowrap;
}

ul 
{
    list-style: none;
    padding-left: 0;
}

h3 
{
    font-family: 'Arial, sans-serif';
    font-size: 1.1em;
    color: #333;
    margin-bottom: 8px;
}

body 
{
    background-color: #f8faff;
}




    



