th
{
    border: 2px black;
    padding: 5px;
    font-size: 18pt;
    color: blue;
}
td
{
    border: 2px solid black;
    padding: 5px;
    font-size: 14pt;
    color: black;
}
table
{
    border-collapse: collapse;
    background-color: lightgray;
}
img
{
    height: 200px;
}
h1
{
    font-size: 46pt;
}
